{% extends 'core/base/base.html' %}

{% block content %}

    <script>
        function CalendarEventDOM(for_day, current_url) {
            this.for_day = for_day;
            this.current_url = current_url;
            this.getDataAndRenderInDOM();
        }

        CalendarEventDOM.prototype.getDataAndRenderInDOM = function () {
            var that = this;
            var for_day = that.for_day;
            $.ajax({
                method: "GET",
                url: that.current_url,
                data: {'day': for_day.getDate(), 'month': for_day.getMonth()+1, 'year': for_day.getFullYear()}
            })
            .done(function (response) {
                var week_in_str = response['week_in_str'];
                $('.week_in_str')[0].innerText = week_in_str;

                var events_for_week = response['week_events'];
                that.renderDivEventsForWeeks(events_for_week)
            });
        };

        CalendarEventDOM.prototype.renderDivEventsForWeeks = function (events_for_week) {
         /*  events_for_week = [  [1=day, 2=[event1, event2] ], [...] ]
        event1 = [ 'time', 'title', 'text', 'id']
        */
            this.clearWeekDivs();
            events_for_week.forEach(function (events_in_day_and_number_day, day_index) {
                var div_for_this_week_day = document.getElementsByClassName('eventCalendar')[day_index];

                // append number_day_div
                var number_day = events_in_day_and_number_day[0];
                var number_day_div = document.createElement('div');
                number_day_div.innerText = number_day;
                number_day_div.className = 'center orange-text text-lighten-2 card-panel blue-grey';
                number_day_div.style = 'padding-bottom: 10px; padding-top: 10px;';
                div_for_this_week_day.getElementsByClassName('weekDay')[0].appendChild(number_day_div);

                //append events divs
                var events_in_day = events_in_day_and_number_day[1];
                events_in_day.forEach(function (event) {
                    var span_title = document.createElement('span');
                    span_title.innerText = event[1];
                    span_title.className = 'center grey-text text-darken-2';

                    var div_time = document.createElement('div');
                    div_time.innerText = event[0];
                    div_time.className = 'center blue-grey-text text-lighten-2';
                    div_time.style = 'font-family:courier; font-size:80%;';
                    var event_div = document.createElement('div');
                    event_div.appendChild(span_title);
                    event_div.appendChild(div_time);
                    event_div.appendChild(document.createElement('hr'));

                    div_for_this_week_day.getElementsByClassName('events')[0].appendChild(event_div)
                })
            });
        };
        CalendarEventDOM.prototype.clearWeekDivs = function () {
            // clear events
            var week_divs = document.getElementsByClassName('eventCalendar');
            for (var day=0; day<7; day++){
                var week_div = week_divs[day];
                var events_divs = week_div.getElementsByClassName('events')[0];
                while (events_divs.hasChildNodes()) {
                    events_divs.removeChild(events_divs.lastChild);
                }
            }

            var number_divs = document.getElementsByClassName('eventCalendar');
            for (day=0; day<7; day++){
                var day_div = week_divs[day];
                day_div = day_div.getElementsByClassName('weekDay')[0];
                if (day_div.hasChildNodes()) {
                    day_div.removeChild(day_div.lastChild);
                }
            }
        };

        CalendarEventDOM.prototype.nextWeek = function () {
            this.for_day.setDate(this.for_day.getDate() + 7);
            this.getDataAndRenderInDOM();
        };
        CalendarEventDOM.prototype.previousWeek = function () {
            this.for_day.setDate(this.for_day.getDate() - 7);
            this.getDataAndRenderInDOM();
        };

        var for_day = new Date('{{ for_day }}');
        var current_url = '{{ request.path }}';
        var calendarEvent = new CalendarEventDOM(for_day, current_url);

    </script>

    <div class="card-panel blue-grey darken-2 row">

        <div class="col m2" onclick="calendarEvent.previousWeek()"> <a href="#">
            <i class="material-icons left orange-text text-darken-2">skip_previous</i>
        </a></div>
        <div class="week_in_str center col m8 orange-text text-lighten-2"></div>
        <div class="col m2" onclick="calendarEvent.nextWeek()"><a href="#">
            <i class="material-icons right orange-text text-darken-2">skip_next</i>
        </a></div>

    </div>
    {% endblock %}
{% block contet_without_padding %}
    <div class="row">
        <div class="col m2 eventCalendar" style="width: 14%" id="0">
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>
        <div class="col m2 eventCalendar" style="width: 14%" id="1" >
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>
        <div class="col m2 eventCalendar" style="width: 14%" id="2">
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>
        <div class="col m2 eventCalendar" style="width: 14%" id="3">
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>
        <div class="col m2 eventCalendar" style="width: 14%" id="4">
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>
        <div class="col m1 eventCalendar" style="width: 14%" id="5">
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>
        <div class="col m1 eventCalendar" style="width: 14%" id="6">
            <div class="weekDay"></div>
            <div class="events"></div>
        </div>

    </div>

{% endblock %}