{% extends 'core/base/base.html' %}

{% block content %}

    <form action="{{ request.url }}" method="get">
        {% include 'core/base/forms.html' %}
        <button class="waves-effect waves-light btn" type="submit">Submit</button>
    </form>

    <hr>

    <form action="{{ request.url }}" method="get">
        {% for field in form %}

            <div class="row">
                <div class="input-field col s12 {% if field.errors %} field_error {% endif %}">
                  <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                         class="validate {% if field.name == 'dc'%} datepicker {% endif %}"
                        {% if field.value %} value="{{ field.value }}" {% endif %}
                  >
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            </div>

            {% if field.errors %}
                <div class="row">
                    <div class="col s8 red-text text-center center">
                        {{ field.errors }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <button class="waves-effect waves-light btn" type="submit">Submit</button>
    </form>

    <script>
        $('.datepicker').pickadate({ // FOR DATEPICKER
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
    </script>
{% endblock %}