{% extends 'core/base/base.html' %}


{% block content %}
    <div class="row">

     <div class="col s10 offset-s1" style="padding-top: 25px">

        <p style="text-align: center;"><span style="font-size: 14pt; color: #333300;">ДОБРО ПОЖАЛОВАТЬ НА ОФИЦИАЛЬНЫЙ САЙТ АРНЕЕВСКОГО СЕЛЬСКОГО ДОМА КУЛЬТУРЫ!</span></p>

         <div style="color: #74746d">
          <p style="text-align: center;"><span style="font-size: 14pt;">Арнеевский СДК прекрасное место для отдха и проведения досуга жителей деревни.</span></p>
          <p style="text-align: center;"><span style="font-size: 14pt;">Жизнь на селе имеет свои особенности в отличие от городской. Если в городе много мест для досуга, то в деревно только одно и то невезде. Культработники СДК проводя работу, привлекают приходить в клуб, заниматься в кружках, учавствовать в проводимых мероприятиях селян разных возрастов. Работники Дома Культуры предлагают различную кружковую работу, устраивают вечера отдыха спортивно развлекательные мероприятия, проводят празднование любимых всеми праздников: Нового года, 8 Марта, Дня Победы, Дня смеха, Дня защитника Отечества, Дня защиты детей, Дня учителя, Дня пожилого человека, Дня матери, Дня молодежи, День деревни, Колядки, Масленица.</span></p>
         </div>
         <p style="text-align: center;"><span style="font-size: 14pt; color: #333300;">Приходите к нам!</span></p>
     </div>
   </div>
{% endblock content %}

{% block post_content %}
{% endblock %}