{% extends 'core/base/base.html' %}

{% block content %}

    <div class="row">

        {% for note in object_list %}

            <div class="col m4 offset-m1" style="padding-top: 2%">

                <h5><a href="{% url 'note_detail_view' note.pk %}">{{ note.title }}</a></h5>

                {% if note.photos.all %}
                    <img width="60%" src="{{ note.photos.all.0.img.url }}">
                {% endif %}
                <h5>
                    {% if note.short_text %}
                        {{ note.short_text }}
                    {% else %}
                        {{ note.text|slice:":50" }}...
                    {% endif %}
                </h5>
                <div style="background-color: #eeeee2"><a href="{% url 'note_detail_view' note.pk %}">подробнее</a> </div>
            <hr>
            </div>
        {% endfor %}
    </div>


{% endblock content %}