{% extends 'core/base/base.html' %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/highslide/highslide.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/highslide/highslide-with-gallery.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/js/highslide/highslide.css" />
    <script type="text/javascript">
        var highlight_src = '{{ STATIC_URL }}core/js';
        hs.graphicsDir = highlight_src.concat('/highslide/graphics/');
        hs.align = 'center';
        hs.transitions = ['expand', 'crossfade'];
        hs.wrapperClassName = 'dark borderless floating-caption';
        hs.fadeInOut = true;
        hs.dimmingOpacity = .75;

        // Add the controlbar
        if (hs.addSlideshow) hs.addSlideshow({
            //slideshowGroup: 'group1',
            interval: 5000,
            repeat: false,
            useControls: true,
            fixedControls: 'fit',
            overlayOptions: {
                opacity: .6,
                position: 'bottom center',
                hideOnMouseOut: true
            }
        });
    </script>
{% endblock head %}

{% block content %}

    <div class="highslide-gallery">

        {% for photo in photo_list %}
            <a href="{{ photo.img.url }}" class="highslide" onclick="return hs.expand(this)">

                <img  src="{{ photo.img.url }}" alt="Highslide JS" title="Click to enlarge"  width="107" />
            </a>
        {% endfor %}
    </div>
{% endblock content %}