<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %} {{ title }} {% else %} CultureHouse {% endif %}</title>

    <link href="{{ STATIC_URL }}core/materialize" \>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/base.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#">Фото</a></li>
  <li><a href="#">Видео</a></li>
</ul>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
          <a href="#"> <img class="img-logo-navbar" src="{{ STATIC_URL }}core/img/SDK.png"></a>
           <ul class="right">
            <li><a href="#">Главная</a></li>
            <li><a href="{% url 'note_list_view' %} ">Новости</a></li>
            <li><a href="#">Календарь событий</a></li>
            <li><a href="#">Клубное формирование</a></li>
            <li><a class="dropdown-button" href="#" data-activates="dropdown1">Галереия<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#">Контактная информация</a></li>
          </ul>
        </div>
    </nav>
</div>
<img class="hi_im_hat" src="{{ STATIC_URL }}core/img/photo.png">

<div class="row">
    <div class="col s12">
        {% block content %}

        {% endblock %}
    </div>
</div>

<div class="post_content">
    {% block post_content %}

    {% endblock %}
</div>

<script src="{{ STATIC_URL }}core/js/jquery-2.1.1.min.js"></script>
<script src="{{ STATIC_URL }}core/materialize/js/materialize.min.js"></script>
<script>
    $(".dropdown-button").dropdown();
</script>
</body>
</html>